<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" href="/">Main</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/profile">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/register">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/polls">Polls</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="main">
    <h1 class="text-warning">Register!</h1>
      <img src="http://localhost:8000/templates/RegisterImage.png" class="img-responsive" alt="RegisterImage">
    <h1 class="text-success">Create a Poll!</h1>
      <img src="http://localhost:8000/templates/CreatePoll.png" class="img-responsive" alt="CreatePoll">
    <h1 class="text-info">Vote!</h1>
      <img src="http://localhost:8000/templates/Vote.png" class="img-responsive" alt="Vote">
  </div>
  <div class="tab-pane fade" id="profile">
  </div>
  <div class="tab-pane fade" id="login">
  </div>
  <div class="tab-pane fade" id="register">
  </div>
  <div class="tab-pane fade" id="polls">
  </div>
</div>
