<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/">Main</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/profile">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/polls">Polls</a>
  </li>
    <li class="nav-item">
      <a class="nav-link active show" data-toggle="tab">Poll</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade" id="main">
  </div>
  <div class="tab-pane fade" id="profile">
  </div>
  <div class="tab-pane fade" id="polls">
  </div>
    <div class="tab-pane fade active show" id="poll">
      <br>
      <fieldset>
        <legend>{{vm.pollpage.name}}</legend>
            <form>
              <li ng-repeat="option in vm.pollpage.options" >
           {{option.name}}: {{option.votes}}
               <input type="radio" name="radioname" id="{{option._id}}" ng-click="vm.getCheckedboxes();"/>
               <br>
               </li>
               <hr>
               <div id="NewOption">
              <input type="text" ng-model="vm.pollpage.options[$index].name"  placeholder="Option name" class="form-control" style="padding: 10px;">
              </div>
              <br>
                  <button ng-click="vm.addOption();">Add Poll Option</button>
               <hr>
                <button class="btn btn-success" ng-click="vm.likeButton();" name="Submit" id="{{option._id}}">Submit</button>
             </form>
      </fieldset>
    </div>
</div>
