<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/">Main</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="/profile">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" href="/polls">Polls</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade" id="main">
  </div>
  <div class="tab-pane fade" id="profile">
  </div>
      <div class="tab-pane fade active show" id="polls">
        <br>
        <input type="text" ng-model="vm.poll.name" placeholder="Name of Poll">
        <hr>
        <input type="text" ng-model="vm.poll.options[$index].name" ng-repeat="option in vm.poll.options" placeholder="Option name" class="form-control" style="padding: 10px;">
        <hr>
        <button ng-click="vm.addOption();" class="btn btn-primary">Add Option</button>
        <br><br>
        <button ng-click="vm.addPoll();" ng-disabled="!vm.poll.name || !vm.poll.options[0].name">Add Poll</button>
        <hr>
        <ul>
          <li ng-repeat="poll in vm.polls">
            <p><a href="/polls/{{poll._id}}">{{poll.name}}</a></p>
            <ul>
              <li ng-repeat="option in poll.options">
                 {{option.name}}: {{option.votes}}
              </li>
            </ul>
            <br>
            <li ng-if="">
            <button class="btn btn-danger" name="RemovePoll">Remove Poll</button>
            </li>
          </li>
        </ul>
      </div>
